.admin-page-wrap {
  width: 100vw;
  min-height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  background-image: url("../img/admin-background.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.admin-page-wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}

.admin-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-left: 104px;
}

input {
  background-color: transparent;
  border: none;
}

.login-box-wrapper {
  background-color: #eae9ebf2;
  width: 480px;
  min-width: 390px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  gap: 35px;
}

.login-box-title {
  height: 57px;
  width: 100%;
  background-color: #63536c;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  align-content: center;
}

.login-box-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-box-input {
  height: 52px;
  width: 272px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-box-input input {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #b7b7b7;
  font-weight: 400;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 9px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}

.login-box-input label {
  color: #848484;
  font-weight: 400;
  font-size: 12px;
  align-self: start;
}

.admin-content-btn {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #16a6af;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 0px 3px 0px #0000001f, 0px 3px 3px 0px #0000003d;
}

.hall-manage-wrapper {
  background-color: #eae9ebf2;
  margin-top: 34px;
}

.hall-manage-wrapper-none {
  display: none;
}

.dropdown-header {
  width: 100%;
  background-color: #63536c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 42px 35px 104px;
  position: relative;
}

.dropdown-header::after {
  content: " ";
  position: absolute;
  left: 42px;
  top: 31px;
  width: 44px;
  height: 44px;
  border-radius: 22px 22px 22px 22px;
  border: 4px solid #bc95d6;
  background: #ffffff;
  z-index: 2;
}

.drop-btn {
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

.drop-icon {
  width: 24px;
  height: 16px;
  margin-left: auto;
}

.dropdown {
  position: relative;
}

.dropdown::before {
  content: " ";
  position: absolute;
  width: 2px;
  height: calc(100% - 35px);
  background: #bc95d6;
  left: 63px;
  top: 35px;
  z-index: 1;
}

.dropdown:nth-child(n + 2)::before {
  content: " ";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #bc95d6;
  left: 63px;
  top: 0;
  z-index: 1;
}

.dropdown:last-child::before {
  content: " ";
  position: absolute;
  width: 2px;
  height: 35px;
  background: #bc95d6;
  left: 63px;
  top: 0px;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content-active {
  display: block;
  padding: 35px 32px 35px 104px;
}

.drop-subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.drop-subtitle-center {
  text-align: center;
}

.drop-subtitle-open-sale {
  margin-bottom: 29px;
}

.dropdown-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dropdown-list-item {
  display: block;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.dropwown-delete-icon {
  display: inline-block;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px #0000001f, 0px 3px 3px 0px #0000003d;
  object-fit: contain;
  margin-left: 4px;
  vertical-align: text-bottom;
}

.popap-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.popap-wrapper-none {
  display: none;
}

.popap {
  width: 960px;
  background-color: #eae9ebf2;
  padding-bottom: 35px;
}

.popap-header {
  width: 100%;
  background-color: #63536c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 42px 14px 42px;
}

.popap-close-icon {
  width: 22px;
  height: 22px;
}

.popap-content {
  margin-top: 34px;
  margin-bottom: 34px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 105px;
  padding-right: 105px;
}

.full-add-form {
  margin-top: 34px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 105px;
  padding-right: 105px;
}

.popap-textarea {
  resize: none;
  box-sizing: border-box;
  padding: 0;
}

.full-add-popap-content {
  margin-bottom: 8px;
}

.full-popap-button-group {
  margin-top: 29px;
}

.popap-button-group-timeline {
  margin-top: 52px;
}

.popap-subtitle {
  font-weight: 400;
  font-size: 12px;
  color: #848484;
}

.popap-text-field {
  border: 1px solid #b7b7b7;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #757575;
  background-color: #ffffff;
  margin-top: 2px;
  width: 100%;
  padding: 8px;
}

.delete-seance-popap-title {
  font-weight: 400;
  font-size: 16px;
}

.delete-seanse-popap-bold-filmname {
  font-weight: 900;
  font-size: 16px;
}

.select-wrapper select {
  appearance: none;
  padding: 8px 30px 8px 8px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper svg {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
  top: 20%;
  fill: #000000;
  pointer-events: none;
  rotate: 90deg;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.popap-button-group {
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 14px;
}

.popap-button {
  box-sizing: border-box;
  padding: 12px 32px 12px 32px;
  border-radius: 3px;
  border: none;
  background-color: #16a6af;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0px 0px 3px 0px #0000001f, 0px 3px 3px 0px #0000003d;
}

.popap-button-cancel {
  background-color: #ffffff;
  color: #63536c;
}

.popap-add-file-input {
  display: none;
}

.drop-content-block {
  margin-bottom: 36px;
}

.drop-content-block-open-sale {
  margin-bottom: 29px;
}

.hall-name-wrap {
  display: inline-block;
}

.hall-item {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff73;
  border-radius: 3px;
  padding: 13px 21px;
  box-shadow: 0px 0px 3px 0px #0000001f, 0px 3px 3px 0px #0000003d;
}

.hall-item-active {
  padding: 16px 23px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 900;
}

.hall-item-input {
  cursor: pointer;
}

.drop-content-container {
  display: flex;
  gap: 14px;
}

.drop-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #848484;
}

.drop-input {
  width: 100px;
  padding: 8px 8.8px 9px 8.8px;
  border: 1px;
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.drop-math-symbol {
  display: block;
  font-family: "Consolas";
  font-size: 18px;
  font-weight: 400;
  color: #848484;
  padding: 8px 8.8px 9px 8.8px;
  align-self: last baseline;
}

.hall-table-container {
  width: 100%;
  border: 1px solid #000000;
  padding-top: 26px;
  padding-bottom: 45px;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 26px;
}

.hall-table-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 19px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hall-table {
  margin: auto;
  border-spacing: 10px;
  border-collapse: separate;
}

.table-seat {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
}

.select-chair-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 11px;
  gap: 23px;
}

.chair-description {
  font-size: 14px;
  font-weight: 400;
  color: #848484;
  padding-left: 4px;
}

.chair-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ordinary-chair-view {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-color: #c4c4c4;
  border: 1px solid #393939;
}

.vip-chair-view {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #0a828a;
  background-image: url("../img/vip-chair.png");
}

.locked-chair-view {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
}

.films-grid {
  margin-top: 12px;
  margin-right: 35px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.films-grid-block {
  width: 259px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid #0000004d;
  display: flex;
  align-items: center;
  position: relative;
  cursor: grab;
}

.film-grid-image {
  background-color: #666666;
  width: 38px;
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.film-grid-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
  padding-right: 10px;
}

.film-grid-duration {
  font-size: 14px;
  font-weight: 400;
  color: #000000b2;
}

.film-grid-delete-icon {
  vertical-align: text-bottom;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.session-container {
  padding-left: 35px;
  padding-right: 104px;
  margin-top: 36px;
  position: relative;
}

.session-timeline-block {
  margin-bottom: 35px;
}

.session-timeline-hall-name {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.session-hall-timeline {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #848484;
  min-height: 60px;
  min-width: 328px;
  max-width: 100%;
  position: relative;
}

.session-hall-timeline-drag {
  background-color: #c5c5c5;
}

.seance-box {
  position: absolute;
  min-width: 65px;
  max-width: 100%;
}

.seance-wpap-in-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #0000004d;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #000000;
  position: relative;
  cursor: grab;
}

.seance-wpap-in-line::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #848484;
  left: 0;
  bottom: -15px;
}

.seance-lil-time {
  content: " ";
  position: absolute;
  left: -14px;
  bottom: -28px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #848484;
}

.seance-id {
  visibility: hidden;
}

.price-config-wrap {
  display: flex;
  align-items: last baseline;
}

.chair-description-space {
  margin-right: 4px;
}
